*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

header{
  background-color: #434057;
}

li{
  list-style: none;
}

a{
  color: white;
  text-decoration: none;
}

.navbar{
  min-height:70px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 24px;
}

.nav-menu{
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 60px;
}

.nav-branding{
  font-size: 2rem;
}

.nav-link{
  transition: 0.3s ease;
}

.nav-link:hover{
  color: black;
}

.hamburger{
  display: none;
  cursor: pointer;
  z-index: 1;
}

.bar{
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background-color: white;
}
header img{
  width: 42px; 
  height: 42px;
}

@media(max-width:768px){
  .hamburger{
    display: block;
  }

  .nav-menu{
    position: fixed;
    right: -100%;
    top: 70px;
    gap: 0;
    flex-direction: column;
    background-color: #434057;
    width: 100%;
    text-align: center;
    transition: 0.3s;
  }

  .nav-item{
    margin: 16px 0;
  }

  .nav-menu.active{
    left: 0;
  }

header img{
  width: 42px; 
  height: 42px;
}

}