body, html{
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}

body{
    background-color: #282531;
}

p {
    color: white;
}
.navbar{
    z-index: 1;
}
.hamburger {
    z-index: 1;
}